In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Eng vs Net.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   match_id                545 non-null    int64
 1   season                  545 non-null    object
 2   start_date              545 non-null    object
 3   venue                   545 non-null    object
 4   innings                 545 non-null    int64
 5   ball                    545 non-null    float64
 6   batting_team            545 non-null    object
 7   bowling_team            545 non-null    object
 8   striker                 545 non-null    object
 9   non_striker             545 non-null    object
 10  bowler                  545 non-null    object
 11  runs_off_bat            545 non-null    int64
 12  extras                  545 non-null    int64
 13  wides                   20 non-null     float64
 14  noballs                 1 non-null      float64
 15  byes                    0 non-null      float64
 16  legbyes                 3 non-null      float64
 17  penalty                 0 non-null      float64
 18  wicket_type             19 non-null     object
 19  player_dismissed        19 non-null     object
 20  other_wicket_type       0 non-null      float64
 21  other_player_dismissed  0 non-null      float64
dtypes: float64(8), int64(4), object(10)
memory usage: 93.8+ KB

In [4]:
data['innings'].unique()

array([1, 2])

In [5]:
data.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1384431,2023/24,2023-11-08,"Maharashtra Cricket Association Stadium, Pune",1,0.1,England,Netherlands,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1384431,2023/24,2023-11-08,"Maharashtra Cricket Association Stadium, Pune",1,0.2,England,Netherlands,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1384431,2023/24,2023-11-08,"Maharashtra Cricket Association Stadium, Pune",1,0.3,England,Netherlands,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1384431,2023/24,2023-11-08,"Maharashtra Cricket Association Stadium, Pune",1,0.4,England,Netherlands,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1384431,2023/24,2023-11-08,"Maharashtra Cricket Association Stadium, Pune",1,0.5,England,Netherlands,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data['venue'].unique()

array(['Maharashtra Cricket Association Stadium, Pune'], dtype=object)

In [8]:
data['bowler'].unique()

array(['A Dutt', 'LV van Beek', 'PA van Meekeren', 'BFW de Leede',
       'RE van der Merwe', 'CN Ackermann', 'CR Woakes', 'DJ Willey',
       'AAP Atkinson', 'MM Ali', 'AU Rashid'], dtype=object)

In [9]:
data['ball'].unique()

array([ 0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  1.1,  1.2,  1.3,  1.4,  1.5,
        1.6,  1.7,  1.8,  2.1,  2.2,  2.3,  2.4,  2.5,  2.6,  3.1,  3.2,
        3.3,  3.4,  3.5,  3.6,  4.1,  4.2,  4.3,  4.4,  4.5,  4.6,  5.1,
        5.2,  5.3,  5.4,  5.5,  5.6,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  7.7,  8.1,  8.2,  8.3,  8.4,
        8.5,  8.6,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6, 10.1, 10.2, 10.3,
       10.4, 10.5, 10.6, 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 12.1, 12.2,
       12.3, 12.4, 12.5, 12.6, 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 13.7,
       14.1, 14.2, 14.3, 14.4, 14.5, 14.6, 15.1, 15.2, 15.3, 15.4, 15.5,
       15.6, 16.1, 16.2, 16.3, 16.4, 16.5, 16.6, 17.1, 17.2, 17.3, 17.4,
       17.5, 17.6, 18.1, 18.2, 18.3, 18.4, 18.5, 18.6, 19.1, 19.2, 19.3,
       19.4, 19.5, 19.6, 19.7, 20.1, 20.2, 20.3, 20.4, 20.5, 20.6, 21.1,
       21.2, 21.3, 21.4, 21.5, 21.6, 22.1, 22.2, 22.3, 22.4, 22.5, 22.6,
       23.1, 23.2, 23.3, 23.4, 23.5, 23.6, 24.1, 24.2, 24.3, 24.4, 24.5,
       24.6, 25.1, 25.2, 25.3, 25.4, 25.5, 25.6, 26.1, 26.2, 26.3, 26.4,
       26.5, 26.6, 27.1, 27.2, 27.3, 27.4, 27.5, 27.6, 28.1, 28.2, 28.3,
       28.4, 28.5, 28.6, 29.1, 29.2, 29.3, 29.4, 29.5, 29.6, 30.1, 30.2,
       30.3, 30.4, 30.5, 30.6, 31.1, 31.2, 31.3, 31.4, 31.5, 31.6, 32.1,
       32.2, 32.3, 32.4, 32.5, 32.6, 32.7, 33.1, 33.2, 33.3, 33.4, 33.5,
       33.6, 34.1, 34.2, 34.3, 34.4, 34.5, 34.6, 35.1, 35.2, 35.3, 35.4,
       35.5, 35.6, 36.1, 36.2, 36.3, 36.4, 36.5, 36.6, 37.1, 37.2, 37.3,
       37.4, 37.5, 37.6, 38.1, 38.2, 38.3, 38.4, 38.5, 38.6, 39.1, 39.2,
       39.3, 39.4, 39.5, 39.6, 40.1, 40.2, 40.3, 40.4, 40.5, 40.6, 41.1,
       41.2, 41.3, 41.4, 41.5, 41.6, 42.1, 42.2, 42.3, 42.4, 42.5, 42.6,
       43.1, 43.2, 43.3, 43.4, 43.5, 43.6, 43.7, 44.1, 44.2, 44.3, 44.4,
       44.5, 44.6, 44.7, 45.1, 45.2, 45.3, 45.4, 45.5, 45.6, 45.7, 45.8,
       45.9, 46.1, 46.2, 46.3, 46.4, 46.5, 46.6, 47.1, 47.2, 47.3, 47.4,
       47.5, 47.6, 47.7, 47.8, 48.1, 48.2, 48.3, 48.4, 48.5, 48.6, 49.1,
       49.2, 49.3, 49.4, 49.5, 49.6, 49.7, 49.8, 49.9,  0.7, 12.7, 20.7,
       23.7])

## Which bowler - batsman pair had the highest run from overs 3 to 5, in the first inning ?
( Include over 3 and 5 too. ) Include extra runs too

In [12]:
q1 = data[(data['ball']>= 3) & (data['ball'] <=5) ]
q1.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [14]:
q1['striker'].unique()

array(['JM Bairstow', 'DJ Malan', 'W Barresi', "MP O'Dowd",
       'CN Ackermann'], dtype=object)